{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('custumerIndex') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('custumerIndex') }}
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <div>
                <div class="input-label">Nom</div>
                <div class="input-disable">{{ userSiren.name }}</div>
            </div>
            <div>
                <div class="input-label">Email</div>
                <div class="input-disable">{{ userSiren.email }}</div>
            </div>
            <div>
                <div class="input-label">Adresse</div>
                <div class="input-disable">{{ userSiren.adress }}</div>
            </div>
            <div class="container-2-input">
                <div class="input-left">
                    <div class="input-label">Commune</div>
                    <div class="input-disable">{{ userSiren.commune }}</div>
                </div>
                <div class="input-right">
                    <div class="input-label">Département</div>
                    <div class="input-disable">{{ userSiren.department }}</div>
                </div>
            </div>
            <div class="container-2-input">
                <div class="input-left">
                    <div class="input-label">Région</div>
                    <div class="input-disable">{{ userSiren.region }}</div>
                </div>
                <div class="input-right">
                    <div class="input-label">Pays</div>
                    <div class="input-disable">{{ userSiren.country }}</div>
                </div>
            </div>
            <div class="container-2-input">
                <div class="input-left">
                    <div class="input-label">Téléphone</div>
                    <div class="input-disable">{{ userSiren.phone }}</div>
                </div>
                <div class="input-right">
                    <div class="input-label">SIREN</div>
                    <div class="input-disable">{{ userSiren.siren }}</div>
                </div>
            </div>
            <div class="d-flex">
                <h2>Tickets</h2>
                <a class="button success end-btn" href="{{ path('add_ticket') }}">
                    + Créer un ticket
                </a>
            </div>

            {% for ticket in tickets %}
                <div class="line-card">
                    <div class="ticket--id tel-d-none">
                        {{ ticket.id }}
                    </div>
                    <div class="ticket--name">
                        {{ ticket.name }}
                    </div>
                    <div class="ticket--status">
                        <div class="status status--{{ ticket.status }}">
                            {% if ticket.status == 0 %}
                                En attente
                            {% elseif ticket.status == 1 %}
                                En cours
                            {% else %}
                                Terminé
                            {% endif %}
                        </div>
                    </div>
                    <div class="ticket--mantainer tel-d-none">
                        {% if ticket.mantainer is not null %}
                            <span class="ticket--badge">
                                <ion-icon name="build-outline"></ion-icon>
                                #{{ ticket.mantainer.id }}
                            </span>
                        {% else %}
                            <span class="ticket--badge">
                                <ion-icon name="build-outline"></ion-icon>
                                En attente
                            </span>
                        {% endif %}
                    </div>

                    <div class="ticket--date-max">
                        {% if ticket.finalDate is not null %}
                            {{ ticket.finalDate|date("d/m/Y") }}
                        {% else %}
                            <span class="ticket--badge">
                                <ion-icon name="time-outline"></ion-icon>
                                En attente
                            </span>
                        {% endif %}
                    </div>
                    <div class="ticket--product tel-d-none">
                        <a href="#" class="ticket--badge">
                            <ion-icon name="barbell-outline"></ion-icon>
                            {{ ticket.customerProduct.product.name }}
                        </a>
                    </div>
                    <div class="ticket--actions">
                        <a href="{{ path('technician_ticket', {'id': ticket.id}) }}" class="ticket--badge">
                            <ion-icon name="eye-outline"></ion-icon>
                            Voir
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
