{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('custumerIndex') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ticket') }}
    {{ encore_entry_link_tags('custumerIndex') }}
{% endblock %}

{% block body %}

    <div class="content">
        <div class="container">
            <h2>Ajouter un ticket</h2>
            {{ form_start(form) }}

                {{ form_label(form.name, 'Nom du ticket') }}
                {{ form_widget(form.name, {'attr': {'class': 'w-webkit'}}) }}

                {{ form_label(form.customerProduct, 'Code du produit associé') }}
                {{ form_widget(form.customerProduct, {'attr': {'class': 'w-webkit'}}) }}

                {{ form_label(form.picture, 'Photo de la panne (image png ou jpg)') }}
                <div class="file-area">
                    {{ form_widget(form.picture) }}
                    <div class="file-dummy input-file">
                        <div class="success-file">Image chargée !</div>
                        <div class="default-file">Choisissez une image</div>
                    </div>
                </div>

                {{ form_label(form.description, 'Description de la panne') }}
                {{ form_widget(form.description, {'attr': {'class': 'w-webkit'}}) }}

            <div class="form-button">
                <button type="submit" class="button success"><i class="fa fa-save"></i>
                    <ion-icon name="save"></ion-icon> Envoyer
                </button>
                <a  style="margin-top: 0" class="button danger" href="{{ path("customer_index") }}"><i class="fa fa-close"></i>
                    <ion-icon name="close"></ion-icon> Annuler
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}