$blue: #003e5c;
$yellow: #E7E349;
$red: #FF312E;
$green: #058C42;

nav {
	display: flex;
	justify-content: center;
	background: url(../images/bgblue.jpg) repeat;
	background-size: 75px;
	color: #fff;
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	.container {
		width: 100%;
		max-width: 1140px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.menu {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: space-between;
		list-style: none;
		.menu-link {
			color: #fff;
			text-decoration: none;
			padding: 10px 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
		}
	}
	.submenu {
		list-style: none;
		a {
			color: white;
			text-align: right;
		}
	}
}
