{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <h2>Tickets</h2>
            {% for ticket in tickets %}
                <div class="line-card">
                    <div class="ticket--id tel-d-none">
                        {{ ticket.id }}
                    </div>
                    <div class="ticket--name">
                        {{ ticket.name }}
                    </div>
                    <div class="ticket--status">
                        <div class="status status--{{ ticket.status }}">
                            {% if ticket.status == 0 %}
                                En attente
                            {% elseif ticket.status == 1 %}
                                En cours
                            {% else %}
                                Terminé
                            {% endif %}
                        </div>
                    </div>
                    <div class="ticket--mantainer tel-d-none">
                        {% if ticket.mantainer is not null %}
                            <a href="#" class="ticket--badge">
                                <ion-icon name="build-outline"></ion-icon>
                                #{{ ticket.mantainer.id }}
                            </a>
                        {% else %}
                            <a href="#" class="ticket--badge">
                                <ion-icon name="build-outline"></ion-icon>
                                En attente
                            </a>
                        {% endif %}
                    </div>
                    <div class="ticket--date-max">
                        {{ ticket.finalDate|date("d/m/Y") }}
                    </div>
                    <div class="ticket--product tel-d-none">
                        <a href="#" class="ticket--badge">
                            <ion-icon name="barbell-outline"></ion-icon>
                            {{ ticket.customerProduct.product.name }}
                        </a>
                    </div>
                    <div class="ticket--customer tel-d-none">
                        <a href="#" class="ticket--badge">
                            <ion-icon name="briefcase-outline"></ion-icon>
                            {{ ticket.customerProduct.user.name }}
                        </a>
                    </div>
                    <div class="ticket--actions">
                        <a href="{{ path('admin_ticket_update', {'id': ticket.id}) }}" class="ticket--badge">
                            <ion-icon name="eye-outline"></ion-icon>
                            Voir
                        </a>
                    </div>
                </div>
            {% endfor %}
            <h2>Clients</h2>
            {% for customer in customers %}
                <div class="line-card">
                    <div>
                        <a href="#" class="ticket--badge">
                            <ion-icon name="briefcase-outline"></ion-icon>
                            {{ customer.name }}
                        </a>
                    </div>
                    <div>
                        Type
                    </div>
                    <div class="ticket--actions">
                        <a href="#" class="ticket--badge">
                            <ion-icon name="eye-outline"></ion-icon>
                            Voir
                        </a>
                    </div>
                </div>
            {% endfor %}
            <h2>Techniciens</h2>
            {% for mantainer in mantainers %}
                <div class="line-card">
                    <div>
                        <a href="#" class="ticket--badge">
                            <ion-icon name="briefcase-outline"></ion-icon>
                            {{ mantainer.name }}
                        </a>
                    </div>
                    <div class="ticket--actions">
                        <a href="#" class="ticket--badge">
                            <ion-icon name="eye-outline"></ion-icon>
                            Voir
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
