{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('custumerIndex') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('custumerIndex') }}
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <h2>Ajouter une machine</h2>
            {{ form_start(form) }}
            <div class="container-2-input">
                <div class="input-left">
                    {{ form_label(form.name, 'Nom de la machine') }}
                    {{ form_widget(form.name, {'attr': {'class': ''}}) }}
                </div>
                <div class="input-right">
                    {{ form_label(form.picture, 'Photo de la machine') }}
                    <div class="file-area">
                        {{ form_widget(form.picture, {'attr': {'class': ''}}) }}
                        <div class="file-dummy input-file">
                            <div class="success-file">Image chargée !</div>
                            <div class="default-file">Choisissez une image</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-2-input">
                <div class="input-left">
                    {{ form_label(form.marque, 'Marque') }}
                    {{ form_widget(form.marque, {'attr': {'class': 'select-arrow'}}) }}
                </div>
                <div class="input-right">
                    {{ form_label(form.gamme, 'Sous-gamme') }}
                    {{ form_widget(form.gamme, {'attr': {'class': ''}}) }}
                </div>
            </div>
            <div class="container-2-input">
                <div class="input-left">
                    {{ form_label(form.model, 'Modèle') }}
                    {{ form_widget(form.model, {'attr': {'class': ''}}) }}
                </div>
                <div class="input-right">
                    {{ form_label(form.type, 'Type') }}
                    {{ form_widget(form.type, {'attr': {'class': 'select-arrow'}}) }}
                </div>
            </div>
            <br>
            <div class="form-button">
                <a  style="margin-top: 0" class="button danger" href="{{ path("customer_index") }}"><i class="fa fa-close"></i>
                    <ion-icon name="close"></ion-icon> Annuler
                </a>
                <button type="submit" class="button success"><ion-icon name="save"></ion-icon> Enregistrer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
