{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <h2>Ajouter des maintenances</h2>


            {% for task in tasks %}
                <div class="line-card">
                    <div class="ticket--id">
                        {{ loop.index }}
                    </div>
                    <div class="ticket--name text-maintenance-card">
                        {{ task.name }}
                    </div>
                    <div class="ticket--actions">
                        <div class="form-button">
                            <form action="{{ url('admin_product_task_delete', { id: task.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="token" value="{{ csrf_token('delete-task'~task.id) }}"/>
                                <button type="submit" class="button danger"><ion-icon name="trash"></ion-icon>&nbsp&nbspSupprimer</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {{ form_start(form) }}
            <div class="line-card d-flex">
                <div class="ticket--id">
                    {{ taskCount }}
                </div>
                <div class="ticket--name text-maintenance-card">
                    {{ form_widget(form.name, {'attr': {'class': ''}}) }}
                </div>
                <div class="ticket--actions">
                    <div class="form-button">
                        <button type="submit" class="button success">
                            <ion-icon name="save"></ion-icon>&nbsp&nbspEnregistrer
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
