{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="content">
        <div class="container">
            <h2>Ticket #{{ ticket.id }} : {{ ticket.name }}</h2>
            <div class="ticket--status">
                <div class="status status--{{ ticket.status }}">
                    {% if ticket.status == 0 %}
                        En attente
                    {% elseif ticket.status == 1 %}
                        En cours
                    {% else %}
                        Terminé
                    {% endif %}
                </div>
            </div>
            {% if ticket.picture %}
                <img src="../uploads/{{ ticket.picture }}">
            {% endif %}
            <div>{{ ticket.description }}</div>

            {{ form_start(form) }}

            {{ form_label(form.status, 'Status du ticket') }}
            {{ form_widget(form.status, {'attr': {'class': 'w-webkit'}}) }}

            {{ form_label(form.finalDate, 'Date butoire') }}
            {{ form_widget(form.finalDate, {'attr': {'class': 'w-webkit'}}) }}

            {{ form_label(form.actionDate, "Date d'intervantion") }}
            {{ form_widget(form.actionDate, {'attr': {'class': 'w-webkit'}}) }}

            {{ form_label(form.mantainer, "Technicien") }}
            {{ form_widget(form.mantainer, {'attr': {'class': 'w-webkit'}}) }}


            <div class="form-button">
                <button type="submit" class="button success"><i class="fa fa-save"></i>
                    <ion-icon name="save"></ion-icon> Envoyer
                </button>
                <a  style="margin-top: 0" class="button danger" href="{{ path("customer_index") }}"><i class="fa fa-close"></i>
                    <ion-icon name="close"></ion-icon> Annuler
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}