<form method="post" action="{{ path('app_customer_product_delete', {'id': customer_product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer_product.id) }}">
    <button class="btn">Delete</button>
</form>
