{% extends 'base.html.twig' %}

{% block title %}Edit CustomerProduct{% endblock %}

{% block body %}
    <h1>Edit CustomerProduct</h1>

    {{ include('customer_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_customer_product_index') }}">back to list</a>

    {{ include('customer_product/_delete_form.html.twig') }}
{% endblock %}
