{% extends 'base.html.twig' %}

{% block title %}New CustomerProduct{% endblock %}

{% block body %}
    <h1>Create new CustomerProduct</h1>

    {{ include('customer_product/_form.html.twig') }}

    <a href="{{ path('app_customer_product_index') }}">back to list</a>
{% endblock %}
