@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$blue: #003e5c;
$dark-blue: #002B3F;
$yellow: #E7E349;
$red: #FF312E;
$green: #058C42;

* {

  body {
    margin: 0;
  }

  font-family: 'Lato', sans-serif;

  .content {
    display: flex;
    justify-content: center;

    .container {
      width: 100%;
      max-width: 1140px;

      .status {
        padding: 10px 15px;
        border-radius: 50px;
      }

      .button {
        display: flex;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 25px;
        border-radius: 25px;
        border: none;
        cursor: pointer;
        transition: all 0.2s;
        align-items: center;
        justify-content: center;
      }

      .button:hover, .button:focus, .button:active {
        //à voir avec Nico
      }

      form {
        div {
          display: grid;
        }

        label {
          display: block;
          font-size: 16px;
          padding: 5px;
        }
        input, select, .input-file {
          border-radius: 50px;
          font-size: 16px;
          background: #e8e8e8;
          border: none;
          padding: 5px 10px;
          min-height: 20px;
        }
        select {
          padding: 5px 40px 5px 10px;
          appearance: none;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
          background-repeat: no-repeat;
          background-position: right 1rem center;
          background-size: 1em;
        }
        textarea {
          border-radius: 10px;
          font-size: 16px;
          background: #e8e8e8;
          border: none;
          padding: 5px 10px;
          min-height: 100px;
        }
        textarea {
          border-radius: 10px;
          font-size: 16px;
          background: #e8e8e8;
          border: none;
          padding: 5px 10px;
          min-height: 100px;
        }
      }

      .success, .status--2 {
        color: #fff;
        background: $green !important;
      }

      .warning, .status--1 {
        color: #000;
        background: $yellow !important;
      }

      .danger, .status--0 {
        color: #fff;
        background: $red !important;
      }

      .primary {
        color: #fff;
        background: $blue !important;
      }

      .secondary {
        color: #fff;
        background: $dark-blue !important;
      }

    }
  }
}
.line-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px 20px;
  width: calc(100% - 40px);
  background-color: $blue;
  border-radius: 20px;
  color: white;
  a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .3);
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    &:hover {
      background-color: rgba(0, 0, 0, .5);
    }
  }
}
.status {
  padding: 2px 10px;
  border-radius: 20px;
  display: flex;
  &--0 {
    background-color: $red;
    color: white;
  }
  &--1 {
    background-color: $yellow;
    color: black;
  }
  &--2 {
    background-color: $green;
    color: white;
  }
}

.c-6 {
  width: 59.99%;
}
.c-4 {
  width: 39.99%;
}

.text-maintenance-card {
  width: 100%;
  margin: 0 30px;
}

.d-flex {
  display: flex !important;
}

.status {
  width: fit-content;
}
@media (max-width:700px) {
  .tel-d-none {
    display: none;
  }
}

.ticket--badge {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.w-webkit {
  width: -webkit-fill-available;
}