body {
  background-color: white;
}

.input-disable {
  background-color: #cecece;
  padding: 5px 15px;
  border-radius: 100px;
  font-weight: bold;
  min-height: 20px;
  color: #333333;
}

.input-label {
  padding: 5px 15px;
}

.container-2-input {
  display: flex !important;
}

.input-left {
  width: 49%;
  margin-right: 1%;
}

.input-right {
  width: 49%;
  margin-left: 1%;
}

@media (max-width:960px) {
  .input-right, .input-left {
    width: 100%;
    margin: 0;
  }

  .container-2-input {
    display: block !important;
  }
}


.file-area {
  position: relative;
  input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  .file-dummy {
    .success-file {
      display: none;
    }
  }
}

input[type=file]:valid + .file-dummy {
  .success-file {
    display: inline-block;
  }
  .default-file {
    display: none;
  }
}

.form-button {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  justify-items: center;
}
.button {
  padding: 10px 0;
  width: 100%;
  max-width: 300px;
}

.end-btn {
  align-self: self-end;
  margin: auto 0 auto auto;
}