.form-button {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  justify-items: center;

  .button {
    padding: 10px 0;
    width: 100%;
    max-width: 300px;
  }
}