{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('custumerIndex') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('custumerIndex') }}
{% endblock %}

{% block body %}
    <div class="content primary">
        <div class="container">
            <div>
                <div class="input-label">Nom</div>
                <div class="input-disable">{{ tech.name }}</div>
            </div>
            <div>
                <div class="input-label">Email</div>
                <div class="input-disable">{{ tech.email }}</div>
            </div>
            <div>
                <div class="input-label">Adresse</div>
                <div class="input-disable">{{ tech.adress }}</div>
            </div>
            <div class="container-2-input">
                <div class="input-left">
                    <div class="input-label">Commune</div>
                    <div class="input-disable">{{ tech.commune }}</div>
                </div>
                <div class="input-right">
                    <div class="input-label">Département</div>
                    <div class="input-disable">{{ tech.department }}</div>
                </div>
            </div>
            <div class="container-2-input">
                <div class="input-left">
                    <div class="input-label">Région</div>
                    <div class="input-disable">{{ tech.region }}</div>
                </div>
                <div class="input-right">
                    <div class="input-label">Pays</div>
                    <div class="input-disable">{{ tech.country }}</div>
                </div>
            </div>
            <div class="container-2-input">
                <div class="input-left">
                    <div class="input-label">Téléphone</div>
                    <div class="input-disable">{{ tech.phone }}</div>
                </div>
                <div class="input-right">
                    <div class="input-label">SIREN</div>
                    <div class="input-disable">{{ tech.siren }}</div>
                </div>
            </div>
            <h2>Tickets</h2>
            {% for ticket in tickets %}
                <div class="line-card">
                    <div class="ticket--id">
                        {{ ticket.id }}
                    </div>
                    <div class="ticket--name">
                        {{ ticket.name }}
                    </div>
                    <div class="ticket--status">
                        <div class="status status--{{ ticket.status }}">
                            {% if ticket.status == 0 %}
                                En attente
                            {% elseif ticket.status == 1 %}
                                En cours
                            {% else %}
                                Terminé
                            {% endif %}
                        </div>
                    </div>
                    <div class="ticket--mantainer">
                        <a href="#" class="ticket--badge">
                            <ion-icon name="build-outline"></ion-icon>
                            {{ ticket.mantainer.name }}
                        </a>
                    </div>
                    <div class="ticket--date-max">
                        {{ ticket.finalDate|date("d/m/Y") }}
                    </div>
                    <div class="ticket--product">
                        <a href="#" class="ticket--badge">
                            <ion-icon name="barbell-outline"></ion-icon>
                            {{ ticket.customerProduct.product.name }}
                        </a>
                    </div>
                    <div class="ticket--customer">
                        <a href="#" class="ticket--badge">
                            <ion-icon name="briefcase-outline"></ion-icon>
                            {{ ticket.customerProduct.user.name }}
                        </a>
                    </div>
                    <div class="ticket--actions">
                        <a href="#" class="ticket--badge">
                            <ion-icon name="eye-outline"></ion-icon>
                            Voir
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
