{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="content">
        <div class="container">
            <h2>Ticket #{{ ticket.id }} : {{ ticket.name }}</h2>
            <div class="ticket--status">
                <div class="status status--{{ ticket.status }}">
                    {% if ticket.status == 0 %}
                        En attente
                    {% elseif ticket.status == 1 %}
                        En cours
                    {% else %}
                        Terminé
                    {% endif %}
                </div>
            </div>
            {% if ticket.picture %}
                <img src="../uploads/{{ ticket.picture }}">
            {% endif %}
            <div>{{ ticket.description }}</div>
        </div>
    </div>

{% endblock %}
