<nav>
    <div class="container">
        <a href="{{ path('admin_index') }}">
            <img src="https://www.inteamdeveloppement.fr/wp-content/themes/naked-wordpress-master/img/logoheader.png" style="width: 70px;" alt="Logo">
        </a>
        <ul class="menu">
            {% if is_granted('ROLE_USER') %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="menu-item">
                        <a class="menu-link" href="{{ path('admin_new_product') }}">
                            <ion-icon name="add-outline"></ion-icon>
                            Ajouter une machine
                        </a>
                    </li>
                {% endif %}
                <li class="menu-item">
                    <ul class="submenu">
                        <li class="submenu-visible">
                            <ion-icon name="person-circle-outline"></ion-icon>
                            {{ user }}
                        </li>
                        <li class="submenu-item">
                            <a href="{{ path('app_logout') }}">
                                Deconnexion
                            </a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li class="menu-item">
                    <ul class="submenu">
                        <li class="submenu-visible">
                            <a href="{{ path('app_login') }}">
                                Se connecter
                            </a>
                        </li>
                        <li class="submenu-item">
                            <a href="{{ path('app_register') }}">
                                Créer un compte
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
